footer {
  max-width: 80rem;
  width: 100%;
  padding: 4rem 2rem 2rem;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo {
    display: flex;
    align-items: center;
    gap: .75rem;

    font: var(--fw-bold) 1.25rem/1.3 var(--ff-sans-primary);

    & img {
      width: 2rem;
      transition: transform 350ms;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  & nav {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;

    font: var(--fw-bold) var(--fs-base)/1.5 var(--ff-sans-primary);

    & a {
      width: fit-content;
      position: relative;

      &:hover::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }

    & a::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--color-brand-sky-mid);

      position: absolute;
      bottom: -4px;
      left: 0;
      opacity: 0;

      transform: scaleX(0);
      transition: var(--transition-scale-default);
    }
  }

  & .social-links {
    display: flex;
    align-items: center;
    gap: .5rem;
    
    & a {
      width: 2.5rem;
      height: 2.5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 5rem;

      position: relative;

      &:hover::before {
        transform: scale(1);
        opacity: 1;
      }

      & img {
        width: 1.54rem;
        height: auto;
      }
      
      &::before {
        content: "";

        width: inherit;
        height: inherit;
        border-radius: inherit;

        background-color: var(--color-brand-sun-mid);
        position: absolute;
        inset: 0;
        z-index: -1;

        transform: scale(0);
        opacity: 0;
        transition: var(--transition-scale-default);
      }
    }
  }
}

@media (width < 80em) {
  footer {
    display: grid;
    justify-content: center;
    gap: 1.5rem;

    & > div {
      margin-inline: auto;
    }
    
    & nav {
      align-items: flex-start;
      border-top: 1px solid #00000020;
      border-bottom: 1px solid #00000020;
    }

    & .social-links {
      
      & a {
        width: 3.5rem;
        height: 3.5rem;
  
        & img {
          width: 2rem;
          height: auto;
        }
      }
    }
  }
}