section {
  &#hero {
    max-width: 80rem;
    width: 100%;
    padding: 2.5rem 2rem;
    margin-inline: auto;

    & h1 {
      max-width: 40rem;

      & div {
        /* border: 2px solid lime; */
        display: inline-block;
        overflow: hidden;
        height: 5rem;
        width: min-content;
        vertical-align: bottom;
      }

      & span {
        /* border: 1px solid red; */
        font: var(--font-heading-1);
        display: block;
        animation: slideUp calc(2s * 4) infinite ease;

        &:nth-child(1),
        &:nth-child(4) { color: var(--color-brand-sky-mid); };
        &:nth-child(2) { color: var(--color-brand-joy-mid); };
        &:nth-child(3) { color: var(--color-brand-leaf-mid); };

      }
    }

    & .buttons {
      display: flex;
      gap: 2rem;
      margin-top: 3rem;
      text-transform: uppercase;

      font: var(--font-button-label);

      & .button {
        display: flex;
        align-items: center;
        gap: .75rem;

        border-radius: 5rem;

        transition: transform 350ms;
        
        &.buy {
          padding: 1.5rem 3rem;
          background-color: var(--color-brand-sun-mid);
        }

        &.play span {
          padding: 1.5rem;
          border-radius: 50%;
          background-color: white;
          display: flex;
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      & .shadow {
        box-shadow: 
        0 2px 5px rgba(0 0 0 / .1),
        0 9px 9px rgba(0 0 0 / .09),
        0 20px 12px rgba(0 0 0 / .05),
        0 36px 15px rgba(0 0 0 / .01)
        ;
      }
    }

  }
}