.button {
  font: var(--font-button-label);
  display: flex;
  align-items: center;
  gap: .75rem;

  border-radius: 5rem;

  transition: transform 350ms;
  
  &.buy {
    padding: 1.5rem 3rem;
    background-color: var(--color-brand-sun-mid);
  }

  &.play span {
    padding: 1.5rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
  }
}

& .shadow {
  box-shadow: 
  0 2px 5px rgba(0 0 0 / .1),
  0 9px 9px rgba(0 0 0 / .09),
  0 20px 12px rgba(0 0 0 / .05),
  0 36px 15px rgba(0 0 0 / .01)
  ;
}