/* ---------------------------------------------
RESET SETTINGS /////////////////////////////////
--------------------------------------------- */
* {
  /* /// reset /// */
  /* box model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------------------------------------------
VAR SETTINGS ///////////////////////////////////
--------------------------------------------- */
:root {
  /* /// colors /// */
  /* product */
  --brand-color: #EF5F4C;

  /* shape */
  --background-color: #FFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff8f;

  /* text */
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  
  /* fonts */
  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/150% var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/170% var(--font-family);
}

/* ---------------------------------------------
GLOBAL SETTINGS ////////////////////////////////
--------------------------------------------- */
/* /// typography /// */
:root {
/* font */
font: var(--text);
color: var(--text-color-secondary);
}

/* /// accessibility /// */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* links */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: var(--brand-color);
}

body {
/* viewport */
background-color: var(--background-color);
}

.container {
  padding-inline: 32px;
  max-width: 1280px;
  margin-inline: auto;
}

.bg-surface-color {
  background-color: var(--surface-color);
}

button {
  background-color: var(--brand-color);
  color: var(--background-color);
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 12px;
  cursor: pointer;

  transition: background-color 200ms;
}

button:hover {
  background-color: #d14b39;
}