header {
  padding-block: 32px;
  border-top: 1px solid var(--skeleton-color);
  font: var(--text-md);
}

header .container {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap; */
}

#profile {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

#profile img {
  /* width: clamp(64px, 1vw + 1rem, 176px);
  height: clamp(64px, 1vw + 1rem, 176px); */
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}

#profile > div {
  max-width: 384px;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#info {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 280px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 47.9375rem) {
  header .container {
    display: grid;
    gap: 1rem;
  }

  #profile {
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
  }

  #info {
    margin-inline: auto;
    gap: .5rem;
  }

  #info li:nth-child(1),
  #info li:nth-child(2),
  #info li:nth-child(3) {
    background-color: #00000010;
    padding: .5rem;
    border-radius: .25rem;
    justify-content: center;
    position: relative;

    & img {
      position: absolute;
      inset: 0;
      left: .5rem;
      top: .5rem;
    }
  }

  #info li:nth-child(4) {
    display: block;
    width: 100%;
    margin-top: 1rem;

    & button {
      width: 100%;
    }
  }
}