main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}

@media (max-width: 47.9375rem) {
  main img {
    width: 100vw;
    aspect-ratio: 1/1;
  }
}