nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  line-height: 0;
  padding-block: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;

  padding-block: 8px;
}

nav ul li:last-child img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 47.9375rem) {
  nav {
    flex-direction: column;
    position: relative;
    height: 4.5rem;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    margin-top: 1rem;
    gap: 1.7rem;
    display: none;
  }

  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3)
  {
    display: none;
  }
}