:root {
  /* font family */
  --ff-sans: 'Inter', system-ui, sans-serif;
  
  /* font weight */
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;
  
  /* font size */
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem;
}

@media (width >= 80em)  {
  :root {
    /* fonts */
      --fs-lg: 2rem;
      --fs-xl: 3rem;
      --fs-2xl: 4rem;

    /* spaces */
      --py-base: var(--space-24); /* 1.5rem */
      --py-lg: var(--space-40); /* 2.5rem */
      --py-xl: var(--space-80); /* 5rem */
    
      --px-lg: var(--space-32); /* 2rem */
  }
}