/* desktop */
@media (width >= 80em) /* 80*16 = 1280px */ {
  /*/// utilities ///*/
    /* toggle-view */
      .desktop-only {
        display: initial;
      }

    /* columns */
      .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
      }
}