:root {
  /* brand colors */
  --color-brand-blue-100: #DBEAFE;
  --color-brand-blue-200: #BFDBFE;
  --color-brand-blue-950: #172554;
  --color-brand-blue-1000: #05053D;
  
  /* brand colors */
    --color-brand-blue-mid: #05C7F2;
    --color-brand-green-mid: #69BF6F;
    --color-brand-orange-mid: #F26444;
    --color-brand-pink-mid: #F285C1;
    --color-brand-yellow-mid: #F2CE1B;

  /* neutrals colors */
    --color-neutral-white: #fff;
    --color-neutral-black: #000;
}