:root {
  /* font family */
    --ff-sans-setDefault: 'Inter';
    --ff-sans: var(--ff-sans-setDefault), system-ui, sans-serif;
  
    /* font weight */
    --fw-regular: 400;
    --fw-semiBold: 600;
    --fw-bold: 700;
    --fw-extraBold: 800;

  /* font size */
    --fs-display: 32px;
    --fs-lg: 20px;
    --fs-md: 18px;
    --fs-default: 16px;
    --fs-sm: 14px;
    --fs-xs: 12px;

  /* letter space */
    --ls-md: 0.0612rem;
}