*,
*::before,
*::after {
  /* box model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* fonts */
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: inline-block;
}