.headerContent {
  display: grid;
  gap: 1rem;
  max-width: 24rem;
}

.headerContent-title span {
  font-weight: 400;
}

.headerContent-headline {
  display: grid;
  gap: 0.5rem;
}

.headerContent-subtitle {
  color: var(--color-brand-blue-200, #BFDBFE);
  font: var(--fw-semiBold) var(--fs-lg)/1.25 var(--ff-sans);
}

.headerContent-paragraph {
  color: var(--color-brand-blue-100, #BFDBFE);
  font: var(--fw-regular) var(--fs-default)/1.45 var(--ff-sans);

  & strong {
    font-weight: var(--fw-bold);
  }
}

a.headerTagline {
  border-radius: 0.5rem;
  padding: .5rem;
  border: 2px solid transparent;
  width: fit-content;
  transition: all 400ms;
  
  &:hover {
    border: 2px solid var(--color-brand-yellow-mid);
    background-color: var(--color-brand-blue-900);
    transition: all 400ms;
    
    & span,
    & img {
    animation: back .8s alternate infinite both;
    /* transform: translateX(-4px); */
   }
  }
}

@media (max-width: 768px) {
  header {
    justify-content: center;
  }

  .headerTagline {
    margin-inline: auto;
    width: fit-content;
    flex-direction: column;
  }

  .headerContent {
    text-align: center;

    & a {
      margin-inline: auto;
    }
  }
}

@keyframes back {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4px);
  }
  
  100% {
    transform: translateX(-4px);
  }
}